<h1>{{ title }}</h1>

<div style="position:relative;left:300px;top:-50;">
     <iframe width="1008" height="567" src={{ movie_url }} frameborder="1" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<div style="position:relative;top:-575;">
     <form action="/post" method="post">
          <p>
               movie:
               <select name="movie">
                    {% for movie in movie_list %}
                         {% if movie == selected_movie %}
                              <option selected>{{ movie }}</option>
                         {% else %}
                              <option>{{ movie }}</option>
                         {% endif %}
                    {% endfor %}
               </select>
          </p>

          <p>
               <input type="submit" name="start" value="start" class="start_btn">
          </p>
     </form>

     <form action="/post" method="post">
          <p>
               <input type="submit" name="end" value="end" class="end_btn">
          </p>
     </form>

     <textarea name="name" rows="10" cols="35">
          {% if err_log %}
               {{ err_log }}
          {% endif %}
     </textarea>
</div>
